.canvas-item-btn {
    margin-top: 0.7rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--background-dark);
    color: var(--color-light);
}

.canvas-item-btn:not(.active){
    background-color: var(--semi-light);
    cursor: pointer;
}

.canvas-item-btn:hover:not(.active) {
    background-color: var(--semi-light);
    color: var(--color-light);
    outline: var(--light-border);
}

.canvas-item-btn.active {
    background-color: var(--background-dark);
    color: var(--color-light);
}