.sample-item-btn {
    margin-top: 0.7rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--background-dark);
    color: var(--color-light);
}

.sample-item-btn{
    background-color: var(--semi-light);
    cursor: pointer;
}

.sample-item-btn:hover:not(.active) {
    background-color: var(--background-dark);
    color: var(--color-light);
    outline: var(--background-dark);
    z-index: 0;
}

.sample-item-btn:hover.active {
    background-color: var(--semi-light);
}

.sample-item-btn.active {
    background-color: var(--background-dark);
    color: var(--color-light);
}