#how-it-works-2 .neighbor-value-details {
    display: flex;
    flex-wrap: wrap;

    gap: 0.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 60%;

}

#how-it-works-2 {
    min-width: 20rem;
}

#how-it-works-2 .solutions {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 2rem;
    height: max-content;
    margin-left: 2rem;
}

#how-it-works-2 .see-solution-span {
    color: green;
}