#how-it-works {
    color: white;
}

.display-none {
    display: none;
}

.footer-btns {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.footer-btns .footer-btn {
    min-width: 10rem;
}

#how-it-works h2, #how-it-works h1 {
    margin-top: 1.5rem;
    /* background-color:; */
}

#how-it-works p {
    max-width: max(30vw, 40rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
}

#how-it-works .m-top-1 {
    margin-top: 1rem;
}

#how-it-works .m-15:not(h2) {
    max-width: max(30vw, 40rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#how-it-works ol li {
    margin-left: 2rem;
}

#how-it-works.container {
    margin-top: 5vh;
}

#how-it-works .the-parts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

#how-it-works .see-solution-btn-and-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 900px), (max-aspect-ratio: 1){
    #how-it-works.container {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: max-content;
        width: 100vw;
    }

    #how-it-works .m-15 {
        margin-right: 2rem;
    }
    
    #how-it-works .the-parts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 480px;
        width: 80vw;
        gap: 0;
    }
}