#home.container {
    display: flex;
    justify-content: space-evenly;
}
.sample-items-container,
.options-container .match-options {
    display: flex;
    flex-direction: column;
}

.canvas-item-container, 
.options-container {
    display: grid;
    place-items: center;
}

.start-match-container {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 2rem;
    background-image: linear-gradient(to right, yellow, green);
    border-radius: 1rem;
}

#home.container {
    margin-top: 12vh;
}

#matching-btn-container{
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 12rem;
}

#matching-btn-container .btn {
    width: 100%;
}

#matching-btn-container .btn:hover:not(.visited) {
    outline: solid rgba(210, 210, 0, 0.6) 0.1rem;
}

#matching-btn-container .btn.visited {
    background-color: rgba(0, 255, 0, 0.95);
}

#results-and-buttons {
    display: flex;
    justify-content: space-around;
}