#home.container {
    display: flex;
    justify-content: space-evenly;
}
.sample-items-container,
.options-container .match-options {
    display: flex;
    flex-direction: column;
}

.canvas-item-container, 
.options-container {
    display: grid;
    place-items: center;
}

.start-match-container {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 2rem;
    background-image: linear-gradient(to right, rgb(138, 43, 226), blue);
    border-radius: 1rem;
}

#matching-btn-container{
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 12rem;
}

#matching-btn-container .btn {
    width: 100%;
}

#matching-btn-container .btn:hover:not(.visited) {
    background-image: linear-gradient(to left, rgb(138, 43, 226, rgb(138, 43, 226)));   
    outline: var(--light-border);
}

#matching-btn-container .btn.visited {
    background-color: var(--semi-light);
}

#results-and-buttons {
    display: flex;
    justify-content: space-around;
}