#get-started.container{
    height: 90vh;
    width: calc(min(80vw, 95rem));
    color: var(--color-light);
}

#get-started.container.results-available #get-started-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#get-started:not(.results-available) {
    display: grid;
    place-items: center;
}

#get-started:not(.results-available) #results {
    display: none;
}

#get-started.results-available #uploaded-images-and-upload-btn,
#get-started.results-available #results {
    width: min(40rem, 80vw);
}