#solution {
    display: grid;
    width: max-content;
    height: max-content;
    gap: 0.08rem;
}

#solution.length-25 {
    grid-template-columns: repeat(5, 1fr);
}

#solution.length-9 {
    grid-template-columns: repeat(3, 1fr);
}

#solution.length-4 {
    grid-template-columns: repeat(2, 1fr);
}

#solution .piece-container .piece {
    background-color: white;
    height: 1.1rem;
    width: 1.1rem;
}

#solution .piece-container .piece.colored {
    background-color: green;
}