.sample-items-item-and-btn {
    display: flex;
    flex-direction: column;
    margin: calc(max(1vw, 1rem));
    min-height: 7.8rem;

    width: max-content;
    min-width: 8rem;
    height: max-content;
    padding: 0.5rem;
    border: var(--light-border);
    border-radius: 0.5rem;
    background-color: var(--semi-light);
    color: transparent;
}

.sample-items-sample-item {
    width: calc(var(--one-vh) * 9);
    height: calc(var(--one-vh) * 9);
    min-width: 7rem;
    min-height: 7rem;
    padding: calc(max(1vw, 1rem));
    background-color: var(--background-light);
    z-index: 1;
}

.sample-items-item-and-btn.active{
    background-color: var(--background-dark);
}