nav {
    height: 5rem;
    max-width: 80vw;
    margin: auto;
}

nav .nav-content {
    height: 100%;
    width: calc(min(80vw, 95rem));
    margin: auto;
    border-bottom: var(--light-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);
}

.nav-content .item, .company-name {
    cursor: pointer;
}