nav {
    height: 5rem;
}

nav .nav-content {
    height: 100%;
    width: calc(min(95vw, 95rem));
    margin: auto;
    border-bottom: var(--light-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);
}

.nav-content .actions {
    display: flex;
}

#how-to-test-it {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.actions p {
    padding: 0.8rem;
    border-radius: 0.5rem;
    /* background-color: var(--background-dark-red); */
}

.actions p:hover {
    background-color: var(--semi-light);
}

.actions p.active:not(:hover){
    background-color: var(--semi-light);
    outline: var(--light-border);
}

.nav-content .item, .company-name {
    cursor: pointer;
}