ul#navbar-desktop li {
    list-style: none;
}

#navbar-desktop.actions {
    display: flex;
    margin-right: 7vw;
    width: max-content;
    max-width: 50vw;
}

#navbar-desktop .item {
    min-width: 9rem;
    text-align: center;
}
/* 
#navbar-desktop #nav-content-how-to-test-it {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#navbar-desktop #nav-content-how-it-works {
    margin-right: 0.5rem;
    margin-left: 1rem;
} */

#navbar-desktop.actions li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 0.5rem;
    /* background-color: var(--background-dark-red); */
}

#navbar-desktop.actions li:hover {
    background-color: var(--semi-light);
}

#navbar-desktop.actions li:hover.active{
    outline: var(--light-border); 
}

#navbar-desktop.actions li.active:not(:hover){
    background-color: var(--semi-light);
    outline: var(--light-border);
}