ul#navbar-desktop li {
    list-style: none;
}

nav {
    height: 5rem;
}

nav .nav-content {
    height: 100%;
    width: calc(min(95vw, 95rem));
    margin: auto;
    border-bottom: var(--light-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);
}

nav .nav-content .actions {
    display: flex;
}

nav .item {
    min-width: 9rem;
    text-align: center;
}

nav #nav-content-how-to-test-it {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

nav #nav-content-how-it-works {
    margin-right: 0.5rem;
    margin-left: 1rem;
}

nav .actions p {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 0.5rem;
    /* background-color: var(--background-dark-red); */
}

nav .actions p:hover {
    background-color: var(--semi-light);
}

nav .actions p:hover.active{
    outline: var(--light-border); 
}

nav .actions p.active:not(:hover){
    background-color: var(--semi-light);
    outline: var(--light-border);
}

nav .nav-content .item, .company-name {
    cursor: pointer;
}