#upload-image #drop-area {
    border: 0.125rem dashed var(--color-light);
    border-radius: 1.25rem;
    font-family: sans-serif;
    margin: 6.25rem auto;
    padding: 1.25rem;
}

#upload-image #drop-area.highlight {
  border-color: green;
}

#upload-image  p {
  margin-top: 0;
  color: var(--color-light);
  opacity: 0.5;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

#upload-image .my-form {
  margin-bottom: 0.625rem;
}

#upload-image  #gallery {
  margin-top: 0.625rem;
}

#upload-image  #gallery img {
  width: min(9.375rem, 31.25vw);
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}

#upload-image .button {
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  min-width: max-content;
  background-color: var(--primary-btn-color);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-light);
  font-weight: 900;
}

#upload-image  .button:hover {
  opacity: 0.8;
}

#upload-image  #fileElem {
  display: none;
}
