#canvas-item {
    background-color: var(--background-light);
    /* height: 23rem;
    width: 23rem; */
}

.btn {
    padding: 0.5rem;
    min-width: 9rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}