.sample-items-container {
    display: flex;
    flex-direction: column;
}

.item-and-btn {
    width: calc((var(--one-vh) * 9)+1rem);
    min-width: 8rem;
    height: max-content;
    padding: 0.5rem;
    border: var(--light-border);
    border-radius: 0.5rem;
    background-color: var(--semi-light);
}

.canvas-item-container {
    display: grid;
    place-items: center;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.options-container .match-options {
    display: flex;
    flex-direction: column;
}