.sample-items-container,
.options-container,
.options-container .match-options {
    display: flex;
    flex-direction: column;
}

.canvas-item-container {
    display: grid;
    place-items: center;
}

.start-match-container {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 2rem;
    background-color: rgba(128, 0, 128, 0.3);
    border-radius: 1rem;
}