.sample-items {
    display: flex;
}

.item-and-btn {
    display: flex;
    flex-direction: column;
    margin: calc(max(1vw, 1rem));
    width: calc(var(--one-vh) * 10);
    height: calc((var(--one-vh) * 10)+0.8rem);
    min-width: 7rem;
    min-height: 7.8rem;
    background-color: transparent;
}

.sample-items-body {
    display: flex;
    flex-direction: column;
}

#sample-item-1,
#sample-item-2,
#sample-item-3,
#sample-item-4,
#sample-item-5,
#sample-item-6 {
    background-color: var(--background-light);
}

.item-and-btn {
    width: calc((var(--one-vh) * 9)+1rem);
    min-width: 8rem;
    height: max-content;
    padding: 0.5rem;
    border: var(--light-border);
    border-radius: 0.5rem;
    background-color: var(--semi-light);
}

.item-and-btn.active{
    background-color: var(--background-dark);
}

.canvas-item-container {
    display: grid;
    place-items: center;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.options-container .match-options {
    display: flex;
    flex-direction: column;
}