* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --one-vh: 1.2rem;
  --min-font-size: 11.22px;
  --light-border: 0.05rem solid rgb(100, 100, 100);
  --background-dark: rgb(26, 26, 26);
  --background-light: rgb(240, 240, 240);
  --color-light: rgb(240, 240, 240);
  --semi-light: rgb(60, 60, 60);
  --background-dark-red: rgb(180, 0, 0);
  --primary-btn-color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* outline: red solid 0.1rem; */
}

body {
  background-color: var(--background-dark);
  min-height: 100vh;
  width: 100vw;
}

.container {
  margin: auto;
  max-width: calc(min(95vw, 95rem));
  padding: 1rem;
  min-height: max-content;
}

@media only screen and (min-height: 700px){
  :root{
    font-size: calc(100vh * 5/312); 
  }
}

@media only screen and (max-height: 700px){
  :root {
    font-size: var(--min-font-size);
  }
}