* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --one-vh: 1.2rem;
  --min-font-size: 11.33px;
  --light-border: 0.05rem solid rgb(100, 100, 100);
  --background-dark: rgb(20, 20, 20);
  --background-light: rgb(240, 240, 240);
  --color-light: rgb(240, 240, 240);
  --semi-light: rgb(60, 60, 60);
  --background-dark-red: rgb(180, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* outline: red solid 0.1rem; */
}

body {
  background-color: var(--background-dark);
}

.container {
  width: calc(min(95vw, 95rem));
  border: var(--light-border);
  margin: auto;
  height: max-content;
}

@media only screen and (min-width: 1360px){
  :root{
    font-size: calc(max(min(1/1.2*1vw, 1/0.675*1vh), 11.33px)); 
  }
}

@media only screen and (max-width: 1360px){
  :root {
    font-size: var(--min-font-size);
  }
}