* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --one-vh: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* outline: red solid 0.1rem; */
}

body {
  background-color: rgba(0, 0, 0, 0.9);
}

.container {
  width: calc(min(95vw, 95rem));
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  margin: auto;
  height: max-content;
}

@media only screen and (min-width: 1000px){
  :root{
    font-size: 0.83vw;
  }
}