#navbar-mobile label{
    display:flex;
    flex-direction:column;
    width: 3.5rem;
    cursor:pointer;
    margin-right: 7vw;
}
   
#navbar-mobile label span{
    background: #fff;
    border-radius:10px;
    height: 0.35rem;
    margin: 0.35rem 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
   
#navbar-mobile   span:nth-of-type(1){
    width:50%;
    
}
   
#navbar-mobile  span:nth-of-type(2){
    width:100%;
}
   
#navbar-mobile   span:nth-of-type(3){
    width:75%;

}
    
#navbar-mobile   input[type="checkbox"]{
    display:none;
}
   
#navbar-mobile   input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(0.4rem,0)
}
     
#navbar-mobile  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
}
   
#navbar-mobile  input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(1.5rem,-0.55rem) rotatez(45deg);
}
   