#test-it.container {
    display: grid;
    margin-top: 12vh;
    min-width: max-content;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "a a a a a b b c c d d"
        "a a a a a b b c c d d"
        "a a a a a h h h h h h"
        "a a a a a e e f f g g"
        "a a a a a e e f f g g";
}

#test-it .decorative {
    grid-area: h;
    height: 2rem;
    margin-left: calc(max(1vw, 1rem));
    width: calc(100% - 2*calc(max(1vw, 1rem)));
    border-radius: 10rem;
    background-color: green;
} 

#test-it .canvas-item-container {
    grid-area: a;
    display: grid;
    place-items: center;
}

#test-it #matching-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(max(1vw, 1rem));
    margin-bottom: calc(max(1vw, 1rem));
}

#test-it #matching-btn-container .btn {
    width: 100%;
}

#test-it #sample-item-and-btn-0 { grid-area: b; }
#test-it #sample-item-and-btn-1 { grid-area: c; }
#test-it #sample-item-and-btn-2 { grid-area: d; }
#test-it #results-item-and-btn-0 { grid-area: f; }
#test-it #results-item-and-btn-1 { grid-area: g; }
#test-it #matching-btn-container {
    grid-area: e;
    margin-left: calc(max(1vw, 1rem));
    width: calc(1rem + (var(--one-vh) * 9));
    min-width: 8rem;
}

@media screen and (max-aspect-ratio: 1.3), (max-width: 75rem){
    #test-it.container {
        grid-template-columns: 1fr 1fr;
        width: max-content;
        max-height: none;
        height: max-content;

        grid-template-areas:
            "b c d"
            "e e e"
            "a a f"
            "a a g"
    }

    #test-it .canvas-item-container {
        display: flex;
        justify-content: flex-start;
    }
    
    #test-it .decorative {
        display: none;
    }

    #test-it #matching-btn-container {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 2*max(1vw, 1rem));
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    #test-it #matching-btn-container .btn {
        width: 12rem;
    }

    #test-it #results-item-and-btn-0,
    #test-it #results-item-and-btn-1{
        position: relative;
        top: calc(-1*max(1vw, 1rem));
    }
}


@media screen and (max-width: 50rem){
    #test-it.container {
        grid-template-columns: 1fr 1fr;
        width: max-content;
        max-height: none;
        height: max-content;

        grid-template-areas:
            "a a"
            "a a"
            "a a"
            "b c"
            "b c"
            "d e"
            "d e"
            "f g"
            "f g"
    }

    #test-it .canvas-item-container {
        margin-bottom: 3rem;
    }
    
    #test-it .decorative {
        display: none;
    }

    #test-it #matching-btn-container {
        flex-direction: column;
    }
}